:root {
  --primary: #FF5500;
  --text: #9CA3AF;
  --dark-grey: #353439;
  --light-grey: #D2D2D2;
  --background: #222126;
  --danger: #FF5500;
  --calm: #60D400;
  --grey: #505258;
  --white: #fff;
  
  --font-title: 'Bebas Neue', sans-serif;
  --font-body: 'Inter', system-ui, -apple-system, sans-serif;

  --space-xs: 0.5rem;  /* 8px */
  --space-sm: 1rem;    /* 16px */
  --space-md: 2rem;    /* 32px */
  --space-lg: 4rem;    /* 64px */
  --space-xl: 8rem;    /* 128px */
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-body);
  padding: var(--space-sm);
}

h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: var(--white);
}

h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 36px;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}